<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
	<meta property="fb:app_id"        content="520448788393828" />
	<meta property="og:url"           content="https://sleepy-garden-12882.herokuapp.com/gerar" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="Quanto você ganharia no Vika? Faça o teste!" />
	<meta property="og:image"         content="http://sleepy-garden-12882.herokuapp.com/img/quiz-big.jpg" />
	<meta property="og:image:secure_url" content="https://sleepy-garden-12882.herokuapp.com/img/quiz-big.jpg" />
	<title>Quiz: {{indicadorPagina}}</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/spinners.css">
</head>
<body>
	<div id="header"><i>{{indicadorPagina}}</i></div>
	
	{{{body}}}
</body>
</html>