<!DOCTYPE html>
<html>
<head>
	<style type="text/css">#header{width:100%;margin:0 0 20px;background:#e5e5e5}body{margin:30px;}</style>
	<title>Quiz: {{indicadorPagina}}</title>
</head>
<body>
	<div id="header"><h3>{{indicadorPagina}}</h3></div>
	{{{body}}}
</body>
</html>