<!DOCTYPE html>
<html>
<head>
	<meta property="fb:app_id"        content="520448788393828" />
	<meta property="og:url"           content="https://sleepy-garden-12882.herokuapp.com/gerar" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="E você quanto ganharia? Faça o teste agora mesmo" />
	<meta property="og:image"         content="http://sleepy-garden-12882.herokuapp.com/img/share.jpg" />
	<meta property="og:image:secure_url" content="https://sleepy-garden-12882.herokuapp.com/img/share.jpg" />
	<style type="text/css">#header{width:100%;margin:0 0 20px;background:#e5e5e5}body{margin:30px;}</style>
	<title>Quiz: {{indicadorPagina}}</title>
</head>
<body>
	<div id="header"><i>{{indicadorPagina}}</i></div>
	{{{body}}}
</body>
</html>