<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=520448788393828&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
       
    window.fbAsyncInit = function() {
    FB.init({
        appId      : '520448788393828',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.1'
    });
    FB.getLoginStatus(function(response) {
         statusChangeCallback(response);
    });
    FB.AppEvents.logPageView();   
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

function statusChangeCallback(response){
    if (response.status === 'connected') {
        console.log(response);
        console.log('Logged in');
        testarApi();
        document.getElementById('login-button').style.display = "none";
        document.getElementById('login-h2').style.display = "none";
        document.getElementById('login-p').style.display = "none";
        containerToggle(true);
    }	
    else {
        console.log('Not logged in');
        containerToggle(false);
    }
};

function checkLoginState() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
};

function logout() {
    FB.logout(function(response){
        checkLoginState();	
    })
    
};

function testarApi() {
    FB.api('me?fields=id,name,posts' , function(response) {
        if (response && !response.error) {
            console.log('Funcao testar API!');
            console.log(response);
            buildprofileName(response);
        }
        else {
            console.log(response.error);
        }
    })
};

function buildprofileName(user) {
    FB.api('me?fields=name,posts' , function(response) {
        console.log(response);
        nome = response["name"];
        posts = response["posts"].data.length;
        fbId = response["id"];
        document.getElementById('nameSpan').innerHTML = nome;

    });
};

function generateVariables() {
    document.getElementById('hiddenId').value=fbId;
    document.getElementById('hiddenName').value=nome;
    document.getElementById('hiddenPosts').value=posts;
    console.log('generateVariables(): ' + fbId,nome,posts);
};

function isLoggedIn() {
        FB.getLoginStatus(function(response) {
            if (response.status === "connected") {
               console.log('Is logged in: true');
                return true;    
            }
            else {
               console.log('Is logged in: false');
                return false;
            }
    });
};

function containerToggle(param, callback) {
    if (param) {
        console.log('container toggled: true');
        document.getElementById('visible-after-login').style.display = "none";
        document.getElementById('loading-container').style.display = "block"; 
        document.getElementById('loading-container').style.opacity = "1";
        setTimeout (function() { 
            document.getElementById('loading-container').style.opacity = "0"; 
            document.getElementById('loading-container').style.display = "none"; 
            document.getElementById('visible-after-login').style.display = "block";
        }, 1500);
    }
    else {
        console.log('container toggled: false');
        document.getElementById('loading-container').style.display = "none"; 
        document.getElementById('loading-container').style.opacity = "1";
        document.getElementById('visible-after-login').style.display = "none";
    }
}

</script>

<div id="main-container">
    <div id="loading-container" class="sk-circle">
        <div class="sk-circle1 sk-child"></div> <div class="sk-circle2 sk-child"></div> <div class="sk-circle3 sk-child"></div> <div class="sk-circle4 sk-child"></div> <div class="sk-circle5 sk-child"></div> <div class="sk-circle6 sk-child"></div> <div class="sk-circle7 sk-child"></div> <div class="sk-circle8 sk-child"></div> <div class="sk-circle9 sk-child"></div> <div class="sk-circle10 sk-child"></div> <div class="sk-circle11 sk-child"></div><div class="sk-circle12 sk-child"></div>
    </div>

    <h2 id="login-h2">Faça o login para continuar:</h2>
    <div id="login-button" class="fb-login-button" data-width="400" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,user_posts" onlogin="checkLoginState()"></div>
    <p id="login-p" style="font-style:italic">Não coletamos nenhum dados pessoais, o login é feito exclusivamente para o funcionamento do Quiz</p>

    <div id="visible-after-login">
        <h2 class="gerar"><span id="nameSpan"></span>, descubra quanto dinheiro você poderia ganhar no Vika:</h2>
        <form method="POST" action="/gerar">
            <input type="hidden" name="formId" id="hiddenId">
            <input type="hidden" name="formName" id="hiddenName">
            <input type="hidden" name="formPosts" id="hiddenPosts">
            <input type="submit" value="Calcular!" onclick="generateVariables()">
        </form>
        <br>
    </div>
</div>