<script>
function redirecionarGerar() {
	window.location.replace('/gerar');
}
</script>

<h1 class="index">Quanto $$$ você pode ganhar?</h1>
<input type="button" value="Começar Quiz!" onclick="redirecionarGerar()" class="index">

