<script>
function redirecionarGerar() {
	window.location.replace('/gerar');
}
</script>

<h1>Quanto dinheiro você poderia ganhar?</h1>
<input type="button" value="Começar Quiz!"  onclick="redirecionarGerar()">