<h1>Faça o quiz!<h1>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=520448788393828&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
       
    window.fbAsyncInit = function() {
    FB.init({
        appId      : '520448788393828',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.1'
    });
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
    FB.AppEvents.logPageView();   
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response){
        if (response.status === 'connected') {
            console.log(response);
            console.log('Logged in');
            showBox();
            testarApi();
        }	
        else {
            hideBox();
            console.log('Not logged in');
        }
    };

    function checkLoginState() {
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
    };

    function logout() {
        FB.logout(function(response){
            checkLoginState();	
            hideBox();
        })
        
    };

    function testarApi() {
        FB.api('me?fields=id,name,posts' , function(response) {
            if (response && !response.error) {
                console.log('Funcao testar API!');
                console.log(response);
                buildprofileName(response);
            }
            else {
                console.log(response.error);
            }
        })
    };

    function buildprofileName(user) {
        FB.api('me?fields=name,posts' , function(response) {
        console.log(response);
        nome = response["name"];
        posts = response["posts"].data.length;
    });

    };

    function hideBox() {
        document.getElementById('visibleBeforeLogin').style.display = 'block';
        document.getElementById('visibleAfterLogin').style.display = 'none';
    }

    function showBox() {
        document.getElementById('visibleBeforeLogin').style.display = 'none';
        document.getElementById('visibleAfterLogin').style.display = 'block';
    }

    
</script>

<div id="visibleBeforeLogin" class="fb-login-button" data-width="400" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,user_posts" onlogin="checkLoginState();"></div>

<script>

</script>

<div id="visibleAfterLogin" style="padding:20px;background: #eee;")>
    <input type="button" onclick="gerarResultado()" value="Gerar resultado!" style="padding:10px;font-size:20px;"><br>
    <a href="" onclick="logout()" >Logout</a>
    <div id="resultBox"><div>
</div>

<script>
var nome, posts = 0;
function gerarResultado() {
    console.log("Funcao gerar resultado. " + posts + " - " + nome);
    return res.redirect('/UserHomePage');
};

</script>