	<meta property="og:title"         content="Eu ganharia R$:{{{resultadoPosts}}},00!" />
	<meta name="title"         content="Eu ganharia R$:{{{resultadoPosts}}},00!" />
	<meta property="og:url"           content="https://sleepy-garden-12882.herokuapp.com/gerar" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="E você quanto ganharia? Faça o teste agora mesmo" />
	<meta property="og:image"         content="http://sleepy-garden-12882.herokuapp.com/img/share.jpg" />
	<meta property="og:image:secure_url" content="https://sleepy-garden-12882.herokuapp.com/img/share.jpg" />
	<title>Resultados</title>
</head>
<body>

<h1>{{resultadoNome}}, você ganharia R$:{{resultadoPosts}},00 reais</h1>
<p>Está esperando o que? <a href="">Comece usando o Vika agora mesmo</a></p>

<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fsleepy-garden-12882.herokuapp.com%2Fgerar&layout=button&size=large&mobile_iframe=true&appId=520448788393828&width=117&height=28" width="117" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>