	<meta property="og:title" content="{{{resultadoPosts}}}" />
	<title>Resultados</title>
</head>
<body>
<div id="fb-root"></div>

<h2>Resultados:</h2>
<p>Nome: {{{resultadoNome}}}</p>
<p>Posts: {{{resultadoPosts}}}</p>
<p>ID: {{{resultadoId}}}</p>

<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A3000%2F&layout=button&size=large&mobile_iframe=true&appId=2126102980736588&width=117&height=28" width="117" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>