body {margin:30px;font-family: roboto, calibri; background: #c6331f;background: url("../img/bg.jpg")}
#header {width:100%;margin:0 0 20px;color: #eee;text-align: center; }
#visible-after-login {display: none;}
#main-container {width: 744px;padding :40px;margin:0 auto;display: block; background: #fcfcfc; border-radius: 10px; text-align: center;}
.fb-share-button span {width: 400px !important; line-height: 40px; height: 40px !important}
input {padding: 15px; line-height: 14px; font-size: 14px; background: #e5e5e5; border: 1px solid; border-color: #eee #e7e7e7 #e0e0e0}
input[type="submit"] {padding: 20px !important; background: #c6331f; box-shadow: 0 6px 0 #850f00; color: #fff; font-weight: 700; font-style: italic; border-radius: 6px; border: 0; display: block; margin: 0 auto; font-size: 20px; line-height: 20px; width: 400px;}
h1 {font-size: 40px}
h1.index {font-size: 60px; text-align: center; color:#fff;}
h1.result {font-size: 80px; text-align: center; color:#ec3d26; margin: 10px;}
h2.result {font-size: 26px; text-align: center; color:#333; font-weight: 300; margin: 0;}
input.index {padding: 30px 20px 40px 20px; background: #c6331f; box-shadow: inset 0 -10px 0 #850f00; color: #fff; font-weight: 700; font-style: italic; border-radius: 12px; border: 0; display: block; margin: 0 auto; font-size: 30px; line-height: 30px; width: 400px; border: 2px solid #000}
iframe {margin: 0 auto}